{% extends "base.html" %}

{% block title %}Sobre{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>Sobre</h1>
    </div>
    <p>Bem-vindo à Farmácia Imaginária, onde cuidamos da sua saúde e bem-estar.</p>
    <p>Nossa missão é fornecer medicamentos de qualidade, serviços farmacêuticos especializados e informações confiáveis para ajudar nossos clientes a alcançar uma vida saudável.</p>
    <p>Contamos com uma equipe de farmacêuticos altamente qualificados e comprometidos em oferecer um atendimento personalizado e orientações precisas sobre medicamentos e cuidados de saúde.</p>
    <p>Estamos sempre atualizados com as últimas pesquisas e avanços na área farmacêutica, para garantir que nossos clientes recebam os melhores produtos e serviços.</p>
    <p>Visite-nos hoje mesmo e descubra como a Farmácia Imaginária pode cuidar de você e da sua família.</p>
{% endblock %}