{% extends 'base.html' %}

{% block title %}Detalhes encomenda{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto p-6">
    

        <div class="w-full mb-6 p-6 flex flex-wrap bg-gray-100 rounded-xl">


            <div class="mb-6 py-2 w-full">
                <h2 class="text-2xl font-bold text-gray-800">Detalhes da encomenda</h2>
            </div>
            <div class="w-full">

                <div class="mb-6 py-2 w-full">
                    <p class="text-lg">Nome: {{order.user.first_name}} {{order.user.last_name}}</p>
                    <p class="text-lg">Email: {{order.user.email}}</p>
                    <p class="text-lg">Morada: {{order.address.address}}</p>
                    <p class="text-lg">Código Postal: {{order.address.postal_code}}</p>
                    <p class="text-lg">Localidade: {{order.address.city}}</p>
                    <p class="text-lg">Telefone: {{order.address.phone}}</p>
                </div>


                <div class="product mb-6 flex pr-6">

                    <div class="w-3/4 pl-2">
                        <div class="flex justify-between">
                            <a href="#" class="text-lg">Numero encomenda: {{order.id}} </a>

                            <p class="mb-6 pt-1 text-gray-400">Total: {{ order.total}}€</p>
                        </div>
                        <div class="mt-2">
                            {% for item in order_products %}
                                {% if item.order == order %}
                                    <div class="flex justify-between">
                                        <div class="flex">
                                            <img src="{{ item.product.photo.url }}" class="w-20 h-20 object-cover rounded-xl">
                                            <div class="ml-4">
                                                <a href="#" class="text-lg">{{ item.product.name }}</a>
                                                <p class="text-gray-400">Quantidade: {{ item.quantity }}</p>
                                            </div>
                                        </div>
                                        <p class="text-gray-400">{{ item.product.price }}€</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="w-1/4 pl-6">
                        <p>Estado da encomenda:</p>
                        <a class="inline-block mt-4 py-2 px-6 pr-4 rounded-xl text-white bg-green-600 w-full text-center">{{order.status}}</a><br>
                    </div>
                    
                    <hr>

                </div>
                <div class="mb-6 py-2 w-full">
                    <p class="text-lg">Data de Inicio: {{order.date_added}}</p>
                    <p class="text-lg">Ultima Atualização: {{order.date_modified}}</p>
                </div>


            </div>

        </div>
    </div>
{% endblock %}