<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}{% endblock %} ClickFarma - Pagina Principal </title>
    </head>

    <body>
        <nav class="border-b border-gray-300">
            <div class="max-w-6xl mx-auto py-2 px-6 xl:px-0 flex items-center justify-between">
                <div class="menu-left flex items-center space-x-6">

                    <a href="{% url 'frontpage' %}" class="py-4 text-lg text-green-400 font-semibold">ClickFarma</a>


                    <ul class="flex items-center space-x-4">
                        {% if not request.user.is_staff %}
                            {% for category in categories %}
                                <li class="hover:text-green-400"><a href="{% url 'shop' %}?category={{category.slug}}">{{ category.name }}</a></li>
                            {% endfor %}
                        {% endif %}
                        {% if request.user.is_authenticated and request.user.is_staff %}
                            <li><a href="{% url 'show_products' %}" 
                                class= "inline-block px-4 py-2 rounded-xl bg-green-400 text-white hover:bg-green-500"
                                >Editar Produtos</a></li>
                        {% endif %}
                        {% if request.user.is_authenticated and request.user.is_staff %}
                            <li><a href="{% url 'show_orders' %}" 
                                class= "inline-block px-4 py-2 rounded-xl bg-green-400 text-white hover:bg-green-500"
                                >Ver encomendas</a></li>
                        {% endif %}
                    </ul>
                </div>

                <div class="menu-right flex items-center space-x-2">
                    {% if request.user.is_authenticated %}
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="py-4 text-lg text-green-400 hover:text-green-500">Sair</button>
                        </form>
                    {% endif %}

                    <a href="{% url 'my_account' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </a>

                    <a href="{% url "cart" %}">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-green-500" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11V7a4 4 0 00-8 0v4M5 9h14l1 12H4L5 9z" />
                        </svg>
                        {% if cart_count > 0 %}
                            <a href="{% url "cart" %}">
                                <button class="inline-block px-2 py-2 rounded-xl bg-green-400 text-white hover:bg-gray-200">{{ cart_count }}</button>
                            </a>
                        {% endif %}
                    </a>
                </div>
            </div>
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer class="bg-gray-100">
            <div class="max-w-6xl mx-auto py-10 px-6 xl:px-0 md:flex justify-between">
                <div class="footer-left mb-12 md:mb-0">
                    <h2 class="mb-5 uppercase text-lg">Informação</h2>
                    <ul>  
                        <li><a href="#" class="text-gray-700 hover:text-green-500">Sobre nós</a></li>
                        <li><a href="#" class="text-gray-700 hover:text-green-500">Envio e entregas</a></li>
                        <li><a href="#" class="text-gray-700 hover:text-green-500">Pagamento e segurança</a></li>
                    </ul>    
                </div>

                <div class="footer-right">
                    <h2 class="mb-5 uppercase text-lg">Contactos</h2>

                    <ul class="space-y-2">
                        <li><a href="#" class="text-green-400 hover:text-green-500">+351 916 098 582</a></li>
                        <li><a href="#" class="text-green-400 hover:text-green-500">clickfarma@gmail.com</a></li>
                        <li><div class="row">
                            <div class="coluna">
                              <img src="https://farmaciadamisericordia.pt/wp-content/themes/yootheme/cache/95/WhatsApp-Image-2023-07-25-at-17.25.29-1-955d9f8a.png"/>
                            </div>
                            <div class="coluna">
                              <img src="https://farmaciadamisericordia.pt/wp-content/themes/yootheme/cache/56/WhatsApp-Image-2023-07-25-at-17.25.29-56e58288.png"/>
                            </div></li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>