{% if product %}
    <div class="product mb-6 flex pr-6 border border-gray-200 rounded-xl" id="cart-item-{{ item.product.id }}">
        <a href="{% url 'product' product.slug %}" class="w-1/4 ">
            <img class="hover:shadow-lg rounded-xl w-32 h-32 object-cover" src="{{ product.photo.url }}">
        </a>

        <div class="w-2/4 pt-4">
            <div class="flex justify-between">
                <a href="{% url 'product' product.slug %}" class="text-lg font-bold">{{ product.name }}</a>

                <span class="mb-6 pt-1 text-gray-400">{{ product.price }}€</span>
            </div>

            <div class="quantity mt-2 flex  space-x-2 ">

                {% comment %} <p>Price: {{ product.price }}€</p> {% endcomment %}
                <p>Stock: {{ product.stock }}</p>
            </div>
        </div>
        <div class="w-1/4 pl-6  flex items-center">
            <button class="py-2 px-10 rounded-xl text-white bg-green-500 hover:bg-green-700"><a href="{% url 'edit_product' product.slug %}" class="btn btn-primary">Edit</a></button>
        </div>
    </div>
{% endif %}