{% extends 'base.html' %}

{% block title %}Eliminar Produto{% endblock %}

{% block content %}
<div class="max-w-6xl mx-auto p-6">
    <h1 class="mb-5 text-3xl">Eliminar Produto</h1>

    <form method="post" action="." class="space-y-3">
        {% csrf_token %}
        
        <div>
            <h1
            2 class="text-2xl">Tem a certeza que deseja apagar a seguinte categoria? </h2>
        </div>

        <div>
            <strong class="text-2xl"> {{ product.name }} </strong>
        </div>

        <div>
            <a href="javascript:history.back()" class="py-4 px-6 rounded-xl text-white bg-green-400">Voltar</a>
            <form method="post" action="{% url 'delete_product' product.slug %}" class="inline">
                {% csrf_token %}
                <button type="submit" class="py-4 px-6 rounded-xl text-white bg-red-500">Apagar</button>
            </form>
        </div>
    </form>
</div>
{% endblock %}